<c8y-title>{{ 'favorites.title' | translate }}</c8y-title>
<div class="card">
  <div class="content-fullpage d-flex d-col">
    <c8y-data-grid
      [title]="'favorites.grid.title' | translate"
      [columns]="COLUMNS"
      [serverSideDataCallback]="favoritesManagerService.serverSideDataCallback"
      [pagination]="PAGINATION"
      [actionControls]="[]"
      class="flex-grow col-xs-12 no-gutter"
    >
      <c8y-ui-empty-state
        icon="mark-as-favorite"
        [horizontal]="true"
        [title]="'favorites.grid.empty-state' | translate"
        class="d-block"
      ></c8y-ui-empty-state>
    </c8y-data-grid>
  </div>
</div>
